/* You can add global styles to this file, and also import other style files */

#landing-about{
    background-image: url('https://res.cloudinary.com/benie/image/upload/v1668273865/Humaaans_-_1_Character_lk62aj.png');
    padding: 5%;
    background-repeat: no-repeat;
    background-position: cover;
}
#landing-you{
    background-image: url('https://res.cloudinary.com/benie/image/upload/v1668273865/Humaaans_-_1_Character_lk62aj.png');
    padding: 5%;
    background-repeat: no-repeat;
    background-position: cover;
}
.float-right{
    float: right;
}
.align-right{
    text-align: right;
}
.width{
    width: 300px;
}
.padding {
    padding: 10%;
}
.font-lg {
    font-size: x-large;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
