<div class="container-fluid bg" id="landing-cont">
  <div class="row">
    <div class="col-lg-6">
      <div class="container-fluid">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://res.cloudinary.com/benie/image/upload/v1668273866/Humaaans_-_Space_xjvahn.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <br>
                <div class="card-body">
                    <h3 class="card-title">Where hearts meet art</h3>
                    <p class="card-text font-lg">Event planning is no easy task. <br><br>
                      We take the weight off your shoulders! <br><br>
                         We connect you with everything & everyone you need.</p>
                </div>
            </div>
        </div>  
        <div>
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body align-right">
                      <h3 class="card-title">What's in it for you?</h3>
                      <mat-nav-list>
                        <p mat-list-item class="card-text font-lg"> A pool of talent <i class="fa-solid fa-circle-check"></i></p>
                        <p mat-list-item class="card-text font-lg"> Real-time communiactions <i class="fa-solid fa-circle-check"></i></p>
                        <p mat-list-item class="card-text font-lg"> Venues catalogue <i class="fa-solid fa-circle-check"></i></p>
                        <p mat-list-item class="card-text font-lg"> Affordable pricing filter <i class="fa-solid fa-circle-check"></i></p>
                      </mat-nav-list>
                    </div>
                  </div>
                <div class="col-md-4">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1668401654/undraw_love_re_mwbq_yfkrzn.svg" class="img-fluid rounded-start" alt="">
                </div>
              </div>
        </div>
    </div>
    </div>
    <div class="col-lg-6 rounded padding-sm">
      <div class="row text-center">
        <div class="col-md-6" style="margin-top:2.5%;">
          <div class="bg-light rounded shadow">
            <mat-nav-list>
              <h1 mat-list-item>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-address-book"></i>&nbsp;Contact</h1>
      <a mat-list-item href="mailto:fullstack.benie@gmail.com"><i class="fa-solid fa-envelope"></i>&nbsp;fullstack.benie@gmail.com</a>
      <a mat-list-item href="tel:+254708696335"><i class="fa-solid fa-mobile-screen"></i>&nbsp;+254 708-696-335</a>
      <a mat-list-item href="https://github.com/benie254"><i class="fa-brands fa-github"></i>&nbsp;benie254</a>
      <a mat-list-item href="https://www.linkedin.com/in/benson-langat-fullstack-developer/"><i class="fa-brands fa-linkedin"></i>&nbsp;Benson Langat</a>
            </mat-nav-list>
            
          </div>
          
        </div>
        
        <div class="col-md-6" style="margin-top:2.5%;">
          <div class="shadow bg-light rounded">
            <mat-nav-list>
              <h1 mat-list-item>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-address-book"></i>&nbsp;Find us</h1>
      <a mat-list-item href="mailto:fullstack.benie@gmail.com"><i class="fa-solid fa-envelope"></i>&nbsp;fullstack.benie@gmail.com</a>
      <a mat-list-item href="tel:+254708696335"><i class="fa-solid fa-mobile-screen"></i>&nbsp;+254 708-696-335</a>
      <a mat-list-item href="https://github.com/benie254"><i class="fa-brands fa-github"></i>&nbsp;benie254</a>
      <a mat-list-item href="https://www.linkedin.com/in/benson-langat-fullstack-developer/"><i class="fa-brands fa-linkedin"></i>&nbsp;Benson Langat</a>
            </mat-nav-list>
            
          </div>
          
        </div>
      </div>
      
      <hr>
      <div class="bg-light rounded shadow padding-sm">
        <div class="row">
          <div class="col-md-4">
            <mat-list class="right">
              <h6>Inside</h6>
              <p mat-list-item>1 Photographer <i class="fa-solid fa-check"></i></p>
              <p mat-list-item>1 MCee <i class="fa-solid fa-check"></i></p>
              <p mat-list-item>1 DJ<i class="fa-solid fa-check"></i></p>
            </mat-list>
          </div>
          <div class="col-md-4">
            <div class="card bg">
              <img src="https://res.cloudinary.com/benie/image/upload/v1668356634/happy-birthday-ge911338c0_1920-removebg-preview_1_y5r5cg.png" height="150" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title"><span class="bg-primary padding-sm">Starter Package</span> </h5>
                <p class="card-text"><small><span class="bg-primary padding-sm">50<i class="fa-solid fa-percent"></i> off</span></small></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <mat-list>
              <h6>Inside</h6>
              <p mat-list-item><i class="fa-solid fa-check"></i> 100 guests</p>
              <p mat-list-item><i class="fa-solid fa-check"></i> Meals & drinks</p>
              <p mat-list-item><i class="fa-solid fa-check"></i> 100% money-back guarantee</p>
            </mat-list>
          </div>
        </div>
       
        <div class="row">
          <div class="col-md-4">
            <div class="card round shadow bg-light">
              <button class="btn btn-md btn-dark btn-outline-info" (click)="preview()">Preview</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card round shadow">
              <button class="btn btn-md btn-light btn-outline-primary" (click)="order()">Order Now @ <i class="fa-solid fa-dollar-sign"></i>200</button>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card round shadow bg-light">
              <button class="btn btn-md btn-dark btn-outline-info" (click)="book()">Book</button>
            </div>
          </div>
        </div>

        
        
        
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12">
          
        </div>
        
      </div>
      
      </div>
      
      
  </div>
  
    
  
  
  
</div>
<app-footer></app-footer>