<nav class="navbar navbar-expand-lg bg opacity sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="fa-solid fa-face-grin-hearts"></i>&nbsp;HeartSnArt
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <!-- <a class="nav-link active" style="font-family:'Carter One',cursive;font-size:20px;" aria-current="page" routerLink="home">Contact</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" routerLink="/logs/all" style="font-size:20px;">Order</a>
          </li>
          
         
          
        </ul>
        <div class="nav-item" style="float:right">
            <form id="subForm" #subscribeForm="ngForm" (ngSubmit)="subscribe(subscribeForm.value)">
                <label for="name">Name:&nbsp;</label>
                  <input placeholder="Full Name" name="name" class="rounded" #name="ngModel" ngModel type="text" required>
                  &nbsp;<span [hidden]="name.valid || name.pristine" class="bg-danger white">
                    <small>Name is <strong>required</strong></small>
                  </span>
                &nbsp;
                <label for="email">Email:&nbsp;</label>
                  <input placeholder="Email" name="email" class="rounded" #email="ngModel" ngModel type="email" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                  &nbsp;<span [hidden]="email.valid || email.pristine" class="bg-danger white">
                    <small><strong>Valid</strong> email is <strong>required</strong></small>
                  </span>
                &nbsp;
                <input type="submit" class="btn btn-sm btn-light btn-outline-primary" value="Subscribe to Newsletter">
                </form>
            </div>
      
      </div>
    </div>
  </nav>
  