<footer>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-6">
            <div class="rounded text-center bg-light shadow">
                <h1 class="text-center">&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-paper-plane"></i>&nbsp;Message</h1>
                  <mat-accordion>
                      <mat-expansion-panel (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              <i class="fa-solid fa-house-user"></i> Contact Form
                          </mat-panel-title>
                          <mat-panel-description>
                            Fill in this form to send us a message
                          </mat-panel-description>
                          </mat-expansion-panel-header>
                          <form id="expansion" #contactForm="ngForm" (ngSubmit)="contact(contactForm.value)" class=" bg-light shadow">
                            <mat-form-field appearance="outline" class="rounded bg shadow" style="margin-top:5%;">
                              <mat-label>Full Name</mat-label>
                              <input matInput placeholder="Full Name" name="name" #name="ngModel" ngModel type="text" required>
                              <mat-icon matSuffix></mat-icon>
                              <mat-hint>e.g <strong>John Doe</strong></mat-hint>
                              <mat-error *ngIf="name.hasError('required') || name.pristine">
                                Name is <strong>required</strong>
                              </mat-error>
                            </mat-form-field>&nbsp; 
                            <mat-form-field appearance="outline" class="rounded bg shadow" style="margin-top:5%;">
                              <mat-label>Email</mat-label>
                              <input matInput placeholder="Email" name="email" #email="ngModel" ngModel type="email" required [errorStateMatcher]="matcher" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                              <mat-icon matSuffix></mat-icon>
                              <mat-hint>e.g <strong>username@provider.com</strong></mat-hint>
                              <mat-error *ngIf="email.hasError('pattern')">
                                Please enter a <strong>valid email address</strong>
                              </mat-error>
                              <mat-error *ngIf="email.hasError('required') || email.pristine">
                                Email is <strong>required</strong>
                              </mat-error>
                            </mat-form-field>&nbsp;
                            <mat-form-field appearance="outline" class="rounded bg shadow" style="margin-top:5%;">
                              <mat-label>Subject</mat-label>
                              <input matInput placeholder="Subject" name="subject" #subject="ngModel" ngModel type="text" required>
                              <mat-icon matSuffix></mat-icon>
                              <mat-hint>e.g <strong>Inquiry</strong></mat-hint>
                              <mat-error *ngIf="subject.hasError('required') || subject.pristine">
                                Subject is <strong>required</strong>
                              </mat-error>
                            </mat-form-field>&nbsp; <br>
                            <mat-form-field appearance="outline" class="rounded bg shadow" style="margin-top:5%;width:75%">
                              <mat-label>Message</mat-label>
                              <textarea matInput placeholder="Type your message..." name="message" #message="ngModel" ngModel type="text" required></textarea>
                              <mat-icon matSuffix></mat-icon>
                              <mat-hint>e.g <strong>I was wondering if I could...</strong></mat-hint>
                              <mat-error *ngIf="message.hasError('required') || message.pristine">
                                Message is <strong>required</strong>
                              </mat-error>
                            </mat-form-field>
                            <!-- <mat-form-field appearance="outline"> -->
                              <mat-checkbox name="policy" #policy="ngModel" ngModel required class="bg">I agree to the Privacy Policy and Terms of Service | <a href="/privacy-policy-TOS">Read more</a></mat-checkbox>
                              <br>
                              <span [hidden]="policy.valid || policy.pristine">
                                <small class="light bg-danger">You must agree to the Privacy Policy & TOS <strong>to continue</strong></small>
                              </span>
                              <br>
                             
                            <!-- </mat-form-field> -->
                            <button type="submit" class="btn btn-md btn-light btn-outline-primary" [disabled]="contactForm.invalid"><i class="fa-solid fa-thumbs-up"></i> Send</button>
                            <br><br>
                                
                             
                        
                            
                              
                              
                              
                        </form>
                          </mat-expansion-panel>
                          </mat-accordion>
                <mat-nav-list>
                  
                </mat-nav-list>
                
              
              </div>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
    
   
</footer>